@media screen and (min-width: 767px) {
  main {
    margin-top: 20px;
  }

  .news-container {
    display: flex;
    height: auto;
  }

  .news-container .news-left {
    display: flex;
    width: 70%;
    background-color: var(--color-main-yellow-2);
  }

  .news-container .news-left .article-left {
    width: 30%;
    padding: 10px 5px 10px 10px;
    background-color: var(--color-main-yellow-1);
  }

  .news-container .news-left .article-left h1 {
    text-decoration: underline;
  }

  .news-container .news-left .article-left .article-date {
    opacity: 60%;
  }

  .news-container .news-left .article-right {
    width: 70%;
    margin: 10px 10px 10px 5px;
  }

  .news-container .news-left .article-right img {
    width: 100%;
  }
  .news-container .news-right {
    background-color: var(--color-main-purple-1);
    width: 30%;
  }

  .news-container .news-right .header {
    display: flex;
    justify-content: center;
    color: var(--font-color-white);
  }

  .news-container .news-right .articles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    padding: 10px;
  }

  .news-container .news-right .articles-container:hover {
    background-color: var(--color-main-purple-2);
    cursor: pointer;
  }

  .news-container .news-right .articles-container img {
    width: 12em;
  }

  .news-container .news-right .articles-container p {
    margin: 0 10px 0 10px;
    color: var(--font-color-white);
    height: 5.6em;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
